body {
  padding: 20px;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: #999;
}

/*Store deliveries (GM)*/
.delivery-header {
  display: inline-block;
  margin-bottom: 10px;
}

.future-dates {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 10px;
}

.btn-red {
  border-color: red;
}

.scan {
  margin-left: 30px;
  width: 150px;
}

/*Delayed report link*/
.delayed-report {
  width: 700px;
}

.top-padding {
  margin-top: 20px;
}


/*Summaries*/
.delivery-tabs {
  display: block;
}

.summary table {
  width: 600px;
  text-align: center;
  height: 75px;
  margin-top: 15px;
}

.summary table th {
  vertical-align: top;
  text-align: center;
  width: 33%;
  font-weight: normal;
}

.summary table td {
  width: 33%;
  vertical-align: bottom;
}

caption {
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.print-btn {
  margin-left: 20px;
}

.delivery table, .delivery caption {
  background-color: #e6e6e6;
}

.summary {
  display: inline-block;
}

.summary .delivery {
  display: inline-block;
  float: left;
}

.parcel table, .parcel caption {
    background-color: #FFFFCC;
}

.print-choice {
  display: inline-block;
  margin-top: -145px;
  margin-left: 20px;
}

.process-btn {
  display: inline-block;
  margin-top: -50px;
  margin-left: 20px;
}

.values-lg {
  font-size: 32px;
}

.values-sml {
  font-size: 14px;
}

/*Affix*/

#pinned-elements.affix {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #999;
}

/*Search*/
.form-horizontal .form-group {
  margin-left: -42px;
}

/*.search {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #999;
}*/

form {
  width: 850px;
  margin-top: 5px;
  display: inline-block;
}

.search-tags {
  margin-bottom: 40px;
}

.search-term {
  font-size: 13px;
  margin-right:10px;
  display: inline-block;
}

.padding-or {
  padding: 20px;
}

/*Table styling*/

.center-row {
  text-align: center;
}

.shipment-table {
  border-style: solid;
  border-width: 1px;
  border-color: #999;  
}

.shipment-show {
  display: inline-block;
}

.shipment-table-top {
  background-color: #e6e6e6;
  padding-left: 10px;
}

.shipment-header {
  display: inline-block;
}

.consignment-show {
  display: inline-block;
  margin-left: 30px;
}

.consignment-table {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}

.consignment-header {
  display: inline-block;
}

.consignment-hide {
  display:inline-block;
  margin-left: 30px;
}